<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alternative_name.name %>
</p>

<%= link_to 'Edit', edit_alternative_name_path(@alternative_name) %> |
<%= link_to 'Back', alternative_names_path %>
